.container {
  min-height: 100vh;
  padding: 0 0.8rem;
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
}

.help {
  color: var(--text-color);
}
